[submodule "docs/private"]
	path = docs/private
	url = https://github.com/bbfox0703/CE-Handwire-Private.git
[submodule "vendor/Dumper-7"]
	path = vendor/Dumper-7
	url = https://github.com/Encryqed/Dumper-7.git
[submodule "vendor/UEDumper"]
	path = vendor/UEDumper
	url = https://github.com/Spuckwaffel/UEDumper.git
[submodule "vendor/GSpots"]
	path = vendor/GSpots
	url = https://github.com/Do0ks/GSpots.git
