[submodule "docs/private"]
	path = docs/private
	url = https://github.com/bbfox0703/CE-Handwire-Private.git
[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
